<!DOCTYPE html>

<!-- full source available here: https://github.com/pushred/pushred.co -->

<html lang="en">
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{> metadata}}

  <link href="/files/bundle.css" rel="stylesheet" type="text/css">
  <script src="/files/bundle.js"></script>

</head>
<body id="top">

  <header class="header">
    <h1 class="header__logo"><a href="#top">PUSH</a></h1>
    <p class="header__text">a one-man design/development studio in brooklyn, specializing in the unknown <img src="/files/emoji/sparkles.png" alt=":sparkles" /></p>
    <a class="header__contact" href="mailto:{{{munge 'eric@pushred.co'}}}">{{{munge 'eric@pushred.co'}}}</a>
  </header>

  <main class="main">
    {{#each projects}}
      <section class="timeline">
        <time class="timeline__date">
          <span class="timeline__date_month">{{date @key 'MMM'}}</span>
          <span class="timeline__date_year">{{date @key '`YY'}}</span>
        </time>
        {{#each .}}
          <article id="{{@key}}" class="project">
            {{#if preview}}
              <div class="project__preview">
                {{#preview}}
                  {{#isVideo .}}
                    <video class="project__video" loop preload="metadata" poster="{{replace this 'mp4' 'png'}}">
                      <source src="{{.}}" type="video/mp4" />
                    </video>
                  {{else}}
                    <img class="project__image" src="{{.}}" />
                  {{/isVideo}}
                {{/preview}}
              </div>
            {{/if}}
            <div class="project__summary">
              <h1 class="project__title">
                {{#isRepo url}}
                  {{{icon 'GitHub' 'project__icon'}}}
                {{/isRepo}}

                {{#if url}}
                  <a href="{{url}}">{{{title .}}}</a>
                {{else}}
                  {{{title .}}}
                {{/if}}
              </h1>
              <p class="project__text">{{{summary}}}</p>
              {{#if details}}
                <a class="project__expand" href="#details-{{@key}}" title="More…">
                  {{{icon 'expand'}}}
                </a>
              {{/if}}
            </div>
            {{#if details}}
              <div id="details-{{@key}}" class="project__details">
                <div class="project__details_content">
                  {{{details}}}
                </div>
              </div>
            {{/if}}
          </article>
        {{/each}}
      </section>
    {{/each}}
  </main>

  <footer class="footer">
    <nav class="footer__nav">
      <a class="footer__link" href="https://github.com/pushred" title="GitHub">{{{icon 'GitHub' 'footer__icon'}}}</a>
      <a class="footer__link" href="https://www.linkedin.com/in/pushred" title="LinkedIn">{{{icon 'LinkedIn' 'footer__icon'}}}</a>
      <a class="footer__link" href="https://soundcloud.com/pushred" title="SoundCloud">{{{icon 'SoundCloud' 'footer__icon'}}}</a>
      <a class="footer__link" href="https://twitter.com/pushred" title="Twitter">{{{icon 'Twitter' 'footer__icon'}}}</a>
      <a class="footer__link" href="https://instagram.com/burntwing" title="Instagram">{{{icon 'Instagram' 'footer__icon'}}}</a>
      <a class="footer__link" href="https://store.2600.com/collections/club-mate" title="You get used to it!">{{{icon 'Club Mate' 'footer__icon'}}}</a>
      {{{icon 'ANSI' 'footer__icon'}}}
    </nav>
  </footer>

</body>
</html>
